.site_main.mint-green-bg
  %section.rsvp_content
    .rsvp_title.white-bg
      Wedding Invite
    %iframe.google_iframe{:src => "https://docs.google.com/forms/d/e/1FAIpQLSf_KxiEPsIRpM3ZGYhToQfleInyj0dhq4EiOphXRYj_OrbzbQ/viewform?embedded=true"} Loading...
  %section.rsvp_content.eggshell-bg
    .rsvp_title.white-bg
      Event Details
    .event_container
      .map_image_wrapper
        / %img.map_image{src: image_path("map.png")}
        %iframe.google_map{src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3162.697508083316!2d-122.27901468491535!3d37.562189979798696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f9ec60089b45f%3A0x91f82ce69fdbc29a!2sCrowne+Plaza+-+Foster+City+Hotel!5e0!3m2!1sen!2sus!4v1481313552065", frameborder: "0"}
      .details
        .details_title
          Crowne Plaza Foster City
        .details_date
          June 10, 2017
        .details_address
          %div
            1221 Chess Drive,
          %div
            Foster City, CA 94404
        .details_info
          %div
            \- Ceremony at 5PM
          %div
            \- Dinner and dancing to follow
          %div
            \- Dress code: Dressy, but wear comfortable shoes!
          %div{style: "font-size: 15px;"}
            * Schedule is subject to changing! Please check back for scheduling changes the month of the big date!
  %section.rsvp_content
    .rsvp_title.white-bg
      Wedding Party
    .bride_and_groom{style: "margin-bottom: 40px;"}
      .party{style: "margin-bottom: 40px;"}
        Jimmy + Juliana
      .photo
        %img.us{src: image_path('us.jpg')}
      .description
        %p{style: "margin-top: 0;"}
          If you don't know who we are...
        %p
          You're in the wrong part of town buddy!
    .bridesmaids
      .party{style: "margin-bottom: 40px;"}
        Bridesmaids
      .bridemaid_profile
        .photo
          %img{src: image_path('lillian.png')}
        .bridesmaid_description
          %p{style: "font-weight: bold; font-size: 50px;"}
            Lilian
          %p
            Lilian and I have known each other our entire lives. We went to the same schools growing up and have many fond memories to look back on. Lilian is genuine and reliable, and has always been the answer to my password reset question: "What is the name of your childhood best friend?"
          %p
            %strong
              Fun facts about Lilian:
          %p
            <strong>1)</strong> She was always the top performing student in our class.
          %p
            <strong>2)</strong> She has travelled and lived all over the world. 
            %span
              \#inspiring
      .bridemaid_profile
        .photo
          %img{src: image_path('anna.png')}
        .bridesmaid_description
          %p{style: "font-weight: bold; font-size: 50px;"}
            Anna
          %p
            Anna and I have been friends since middle school and she, Lilian, and I participated in the same school clubs. Growing up with Anna, she was always the one I could count on to celebrate the good times and cry over the bad. I admire her most for her creative talents and ability to make others happy.
          %p
            %strong
              Fun facts about Anna: 
          %p
            <strong>1)</strong> She is a pro at yoga. 
            %span
              \#skills
          %p
            <strong>2)</strong> She is also an extraordinaire at craft projects, running marathons, and basically everything else.
      .bridemaid_profile
        .photo
          %img{src: image_path('lisa.png')}
        .bridesmaid_description
          %p{style: "font-weight: bold; font-size: 50px;"}
            Lisa
          %p
            Lisa and I met during our college years and our relationship ignited and evolved over cheap liquor and budget road trips. I admire Lisa for her humbleness and commitment to her friends. For all the fun and unforgettable events I've partaken, Lisa has always been there to make it so.
          %p
            %strong
              Fun facts about Lisa: 
          %p
            <strong>1)</strong> She bought a car for her younger brother before she bought one for herself.
            %span
              \#selfless
          %p
            <strong>2)</strong> Her dog is Ditto's best friend
      .bridemaid_profile
        .photo
          %img{src: image_path('michelle.png')}
        .bridesmaid_description
          %p{style: "font-weight: bold; font-size: 50px;"}
            Michelle
          %p
            I met Michelle during our college years and our relationship blossomed when she became my neighbor. She's an incredibly devoted and dependable friend and has perfect attendance to all get togethers. See below for definition of Michelle Chen:
          %p
            %strong
              Fun facts about Michelle:
          %p
            %strong{style: "vertical-align: top;"}
              1)
            %img{src: image_path('dictionary.png'), style: "width: 80%; border-radius: 5px; margin-left: 5px;"}
          %p
            %strong
              2)
            She's travelled to Thailand alone to volunteer at elephant sanctuaries.
            %span
              \#loving
    .bridesmaids
      .party{style: "margin-bottom: 40px;"}
        Groomsmen
      .bridemaid_profile
        .photo
          %img{src: image_path('jonathan.png')}
        .bridesmaid_description
          %p{style: "font-weight: bold; font-size: 50px;"}
            Jonathan
          %p
            My brother. I know him long time.
      .bridemaid_profile
        .photo
          %img{src: image_path('johnny.png')}
        .bridesmaid_description
          %p{style: "font-weight: bold; font-size: 50px;"}
            Johnny
          %p
            My cousin. I know him long time.
      .bridemaid_profile
        .photo
          %img{src: image_path('danny.png')}
        .bridesmaid_description
          %p{style: "font-weight: bold; font-size: 50px;"}
            Danny
          %p
            My cousin. I know him long time.
      .bridemaid_profile
        .photo
          %img{src: image_path('ditto.png')}
        .bridesmaid_description
          %p{style: "font-weight: bold; font-size: 50px;"}
            Ditto
          %p
            My dog. I know him long time.


      
