.site_main.mint-green-bg
  %section.rsvp_content
    .rsvp_title.white-bg
      Invitation
    %iframe.google_iframe{:src => "https://docs.google.com/forms/d/e/1FAIpQLSf_KxiEPsIRpM3ZGYhToQfleInyj0dhq4EiOphXRYj_OrbzbQ/viewform?embedded=true"} Loading...
  %section.rsvp_content.eggshell-bg
    .rsvp_title.white-bg
      Event Details
    .event_container
      .map_image_wrapper
        / %img.map_image{src: image_path("map.png")}
        %iframe.google_map{src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3162.697508083316!2d-122.27901468491535!3d37.562189979798696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f9ec60089b45f%3A0x91f82ce69fdbc29a!2sCrowne+Plaza+-+Foster+City+Hotel!5e0!3m2!1sen!2sus!4v1481313552065", frameborder: "0"}
      .details
        .details_title
          Crowne Plaza Foster City
        .details_address
          %div
            1221 Chess Drive, Foster City, CA 94404
        .details_date
          June 10, 2017
        .details_info
          %div
            5:00pm: Meet, greet, munch and happy hour
          %div
            6:00pm: Dinner reception begins
          %div
            6:30pm: Speeches, speeches, more speeches
          %div
            7:00pm: Performance by Tres Amigos
          %div
            7:300pm-12:00am: Partayyy
          %div
            12:00am-??: Partayyy in our hotel room
          %div{style: "font-size: 18px;"}
            *Dress code: Dressy, but wear comfortable shoes!
            <br>*Schedule is subject to change.
  %section.rsvp_content
    .rsvp_title.white-bg
      The party people
    .bride_and_groom{style: "margin-bottom: 40px;"}
      / .party{style: "margin-bottom: 40px;"}
      /   Jimmy & Jules
      .photo
        %img.us{src: image_path('us.jpg')}
    %div{style: "margin-left: 25px; margin-right: 25px;"}
      %div{style: "display: inline-block; width: 49%; padding-top: 50px"}
        .bridesmaids
          .party{style: "margin-bottom: 40px;"}
            Bridesmaids
          .bridemaid_profile
            .photo
              %img{src: image_path('lillian.png')}
            .bridesmaid_description
              %p{style: "font-size: 30px; font-weight: bold; padding-top: 15px;"}
                Lilian
              %p
                The answer to my password reset question: "What is the name of your childhood best friend?". Single.
          .bridemaid_profile
            .photo
              %img{src: image_path('anna.png')}
            .bridesmaid_description
              %p{style: "font-size: 30px; font-weight: bold; padding-top: 15px;"}
                Anna
              %p
                Favorite workout buddy who is a pro at yoga, running marathons, and diy crafty projects.
          .bridemaid_profile
            .photo
              %img{src: image_path('lisa.png')}
            .bridesmaid_description
              %p{style: "font-size: 30px; font-weight: bold; padding-top: 15px;"}
                Lisa
              %p
                Music festival and party squad lead who gets everyone excited to hang out.
          .bridemaid_profile
            .photo
              %img{src: image_path('michelle.png')}
            .bridesmaid_description
              %p{style: "font-size: 30px; font-weight: bold; padding-top: 15px;"}
                Michelle
              %p
                Perfect attendance to get togethers and is my inspiration to travel. Single.
      %div{style: "display: inline-block; width: 49%; vertical-align: top; padding-top: 50px;"}
        .bridesmaids
          .party{style: "margin-bottom: 40px;"}
            Groomsmen
          .bridemaid_profile
            .photo
              %img{src: image_path('jonathan.png')}
            .bridesmaid_description
              %p{style: "font-size: 30px; font-weight: bold; padding-top: 15px;"}
                Jonathan
              %p
                My brother. I know him long time.
          .bridemaid_profile
            .photo
              %img{src: image_path('johnny.png')}
            .bridesmaid_description
              %p{style: "font-size: 30px; font-weight: bold; padding-top: 15px;"}
                Johnny
              %p
                My cousin. I know him long time.
          .bridemaid_profile
            .photo
              %img{src: image_path('danny.png')}
            .bridesmaid_description
              %p{style: "font-size: 30px; font-weight: bold; padding-top: 15px;"}
                Danny
              %p
                My cousin. I know him long time.
          .bridemaid_profile
            .photo
              %img{src: image_path('ditto.png')}
            .bridesmaid_description
              %p{style: "font-size: 30px; font-weight: bold; padding-top: 15px;"}
                Ditto
              %p
                My dog. I know him long time.


      
