.site_main.mint-green-bg
  %section.rsvp_content
    .rsvp_title.white-bg
      Wedding Invite
    %iframe.google_iframe{:src => "https://docs.google.com/forms/d/e/1FAIpQLSf_KxiEPsIRpM3ZGYhToQfleInyj0dhq4EiOphXRYj_OrbzbQ/viewform?embedded=true"} Loading...
  %section.rsvp_content.eggshell-bg
    .rsvp_title.white-bg
      Event Details
    .event_container
      .map_image_wrapper
        / %img.map_image{src: image_path("map.png")}
        %iframe.google_map{src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3162.697508083316!2d-122.27901468491535!3d37.562189979798696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f9ec60089b45f%3A0x91f82ce69fdbc29a!2sCrowne+Plaza+-+Foster+City+Hotel!5e0!3m2!1sen!2sus!4v1481313552065", frameborder: "0"}
      .details
        .details_title
          Crowne Plaza Foster City
        .details_date
          June 10, 2017
        .details_address
          %div
            1221 Chess Drive,
          %div
            Foster City, CA 94404
        .details_info
          %div
            \- Ceremony at 5PM
          %div
            \- Dinner and dancing to follow
          %div
            \- Dress code: Dressy, but wear comfortable shoes!
          %div{style: "font-size: 15px;"}
            * Schedule is subject to changing! Please check back for scheduling changes the month of the big date!
  %section.rsvp_content
    .rsvp_title.white-bg
      Wedding Party
    .text-align-center
      .bride_and_groom{style: "margin-bottom: 40px;"}
        .party{style: "margin-bottom: 40px;"}
          Jimmy + Juliana
        .photo
          %img.us{src: image_path('us.jpg')}
        .description
          %p{style: "margin-top: 0;"}
            If you don't know who we are...
          %p
            You're in the wrong part of town buddy!
    .bridesmaids.eggshell-bg
      .party.white-bg{style: "margin-bottom: 70px; padding: 10px 0 10px 0;"}
        Bridesmaids
      %div{style: "height: 550px;"}
        .icon-cards
          .icon-cards__content
            .icon-cards__item.bridesmaids.white-bg
              .photo
                %img{src: image_path('anna.png')}
              .bridesmaid_description
                %p{style: "font-weight: bold; font-size: 50px;"}
                  Anna
                %p
                  Favorite workout buddy who is a pro at yoga, running marathons, and diy crafty projects.
            .icon-cards__item.bridesmaids.white-bg
              .photo
                %img{src: image_path('lisa.png')}
              .bridesmaid_description
                %p{style: "font-weight: bold; font-size: 50px;"}
                  Lisa
                %p
                  Music festival and party squad lead who gets people excited to hang out.
            .icon-cards__item.bridesmaids.white-bg
              .photo
                %img{src: image_path('michelle.png')}
              .bridesmaid_description
                %p{style: "font-weight: bold; font-size: 50px;"}
                  Michelle
                %p
                  Perfect attendance to get togethers and is my inspiration to travel. Single.
            .icon-cards__item.bridesmaids.white-bg
              .photo
                %img{src: image_path('lillian.png')}
              .bridesmaid_description
                %p{style: "font-weight: bold; font-size: 50px;"}
                  Lilian
                %p
                  The answer to my password reset question: "What is the name of your childhood best friend?". Single.
    .bridesmaids
      .party.white-bg{style: "margin-bottom: 70px; padding: 10px 0 10px 0;"}
        Groomsmen
      %div{style: "height: 550px;"}
        .icon-cards
          .icon-cards__content
            .icon-cards__item.groomsmen
              .photo
                %img{src: image_path('johnny.png')}
              .bridesmaid_description
                %p{style: "font-weight: bold; font-size: 50px;"}
                  Johnny
                %p
                  My cousin. I know him long time.
            .icon-cards__item.groomsmen
              .photo
                %img{src: image_path('danny.png')}
              .bridesmaid_description
                %p{style: "font-weight: bold; font-size: 50px;"}
                  Danny
                %p
                  My cousin. I know him long time.
            .icon-cards__item.groomsmen
              .photo
                %img{src: image_path('ditto.png')}
              .bridesmaid_description
                %p{style: "font-weight: bold; font-size: 50px;"}
                  Ditto
                %p
                  My dog. I know him long time.
            .icon-cards__item.groomsmen
              .photo
                %img{src: image_path('jonathan.png')}
              .bridesmaid_description
                %p{style: "font-weight: bold; font-size: 50px;"}
                  Jonathan
                %p
                  My brother. I know him long time.


      
